.footer-main{
	width:100%;
	float:left;
	background:#101922;
	color:#fff;
	.footer-first-block{
		width: 100%;
	    float: left;
	    padding: 36px 0 35px 0;
	    border-bottom: 1px solid rgba(255,255,255,0.1);
		.logo-footer{
			width:auto;
			float:left;
			padding-top: 8px;
			@media screen and (max-width: 767px){
				width:100%;
				text-align: center;
				padding-top: 0;
				margin-bottom: 20px;
			}
		}
		.right-block-contact{
			width:auto;
			float:right;
			@media screen and (max-width: 767px){
				width: 100%;
				float:left;
				text-align: center;
			}
			h3{
				width:100%;
				display: block;
				@include remy(27);
				color:#ffffff;
				letter-spacing:-0.2px;
				text-align:left;
				font-weight: 500;
				margin:0 0 7px;
				@media screen and (max-width: 767px){
					text-align: center;
					@include remy(18);
				}
			}
			p{
				width: 100%;
				display: block;
				@include remy(18);
				color:#ffffff;
				letter-spacing:-0.21px;
				text-align:left;
				margin:0;
				@media screen and (max-width: 767px){
					text-align: center;
					@include remy(14);
					letter-spacing: normal;
					line-height: 26px;
				}
				a{
					border-bottom: 2px solid #6d75f9;
					color:#fff;
					padding-bottom: 3px;
				}
			}
		}
	}
	.middle-footer{
		width:100%;
		float:left;
		padding:57px 0 0 0;
		.col-3{
			@media screen and (max-width: 767px){
				max-width: 50%;
				flex: 0 0 50%;
				margin-bottom: 50px;
			}
		}
	}
}
.footer-app-block{
	width:100%;
	float:left;
	h3{
		width:100%;
		float:left;
		@include remy(17);
		color:#ffffff;
		text-align:left;
		font-weight: 500;
		margin:0 0 25px;
	}
	.apps-ui-block{
		width:100%;
		float:left;
		ul{
			width:100%;
			float:left;
			margin:0;
			li{
				width:100%;
				float:left;
				margin:0 0 16px;
				@media screen and (max-width: 767px){
					margin-bottom: 10px;
				}
				a{
					width:auto;
					float:left;
				}
				img{
					width:auto;
					float:left;
					@media screen and (max-width: 767px){
						width: 130px;
					}
				}
			}
		}
	}
}

.footer-links{
	width:100%;
	float:left;
	h2{
		width:100%;
		float:left;
		@include remy(17);
		color:#ffffff;
		text-align:left;
		font-weight: 500;
		margin:0 0 13px;
		line-height: normal;
		letter-spacing: normal;
	}
	.nav{
		width: 100%;
		float:left;
		li{
			width:100%;
			float:left;
			a{
				width:auto;
				float:left;
				@include remy(17);
				color:#ffffff;
				line-height:30px;
				text-align:left;
				font-weight: 300;
				transition: all 0.4s ease;
				&:hover{
					color:#6d75f9;
				}
			}
		}
	}
	&.social-footer{
		.nav{
			li{
				margin:0 0 15px;
				a{
					line-height: normal;
				}
			}
		}
	}
}
.copyright{
	width:100%;
	float:left;
	padding:20px 0;
	border-top: 1px solid rgba(255,255,255,0.1);
	margin-top: 25px;
	@media screen and (max-width: 767px){
		margin-top: 0;
	}
	p{
		width:100%;
		float:left;
		text-align: center;
		opacity:0.4;
		@include remy(15);
		color:#ffffff;
		margin:0;
	}
}