$black: #000000;
$maincolor: #ff6a6a;
$darkgrey: #242424;
$darkgreyheader: #3F3F3F;
$lightgrey : #d3d3d3;
$white: #ffffff;
$hovercolor:#31CB72;
$bluecolor: #2469FF;
$statusgreen: #0FC15A;
$cancelcolor:#CB3D31;
$cancelhover:#EA5548;
$bluecolor: #349ed0;
